<!DOCTYPE HTML>
<html lang="{{ handler.locale.code }}">
<head>
    <meta charset="UTF-8">
    <title>{{ handler.title }} - Redis Admin</title>
    <link href="{{ static_url('images/favicon.png') }}" rel='shortcut icon' />
    <link rel="stylesheet" href="{{ static_url('styles/base.css') }}" />
    {% block css %}{% end %}
</head>
<body>
<div id="header">
    <img src="{{ static_url('images/redis.png') }}" alt="Redis Admin">
    <div id="nav">
        {% block nav %}{% end %}
    </div>
    <div class="account">
        {% if current_user %}
        <a href="{{ reverse_url('logout') }}">{{ _("Logout") }}</a>
        {% else %}
        <p>{{ _("Please login") }}</p>
        {% end %}
    </div>
</div>
<div id="container">
    {% block container %}
        <div class="sidebar">
            {% block sidebar %}{% end %}
        </div>
        <div class="content">
            {% block content %}{% end %}
        </div>
    {% end %}
</div>
<div id="footer">
    <div class="inner">
        <p class="info"><span>Copyright &copy; laoqiu.com Аll Rights Reserved. </span>Powered by tornado. </p>
    </div>
</div>
<div id="loading">
    <img src="{{ static_url('images/loading.gif') }}" alt="loading..." />
</div>
<script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
<script>
    loading = $("#loading");
    loading.ajaxStart(function () {
        $(this).show();
    });
    loading.ajaxStop(function () {
        $(this).hide();
    });
</script>
{% block js %}{% end %}
</body>
</html>
