{% extends 'base.html' %}

{% block container %}
    <div id="login-box">
        <div class="form-box">
            <h2>{{ _("Login") }}</h2>
            <form action="" method="POST">
                {{ xsrf_form_html() }}
                <div class="form-field">
                    {{ form.username.label() }}
                    {{ form.username(class_="text") }}
                    {{ form.username | field_errors }}
                </div>
                <div class="form-field">
                    {{ form.password.label() }}
                    {{ form.password(class_="text") }}
                </div>
                <div class="form-field">
                    {{ form.submit(class_="form-button") }}
                    {{ form.submit | field_errors }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
